* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

.container {
    background-color: rgb(38, 45, 45);
}

.navbar {
    z-index: 999;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url('../img/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-main {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
}

.main .title-container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
    font-size: 5em;
    font-weight: bolder;
}

.main .title-container p {
    color: aliceblue;
}

@keyframes changeStrokeColor {
    0% {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0, 94, 255);
    }
    25% {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(225, 255, 0);
    }
    50% {
        -webkit-text-stroke-width: 1px;
        ebkit-text-stroke-color: rgb(0, 255, 136);
    }
    75% {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0, 255, 255);
        color: rgb(122, 0, 0);
    }
    100% {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0, 157, 255);
    }
}

.mainpage-container {
    display: flex;
    align-items: center;
}

.main a {
    padding: .3em;
    background-color: rgb(44, 44, 44);
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 1em;
    width: 6em;
    text-align: center;
    font-size: large;
    font-weight: bold;
    transition: .3s;
    animation: fadein 5s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main a:hover {
    box-shadow: 0px 3px 5px rgb(202, 0, 0), 0px -3px 5px rgb(153, 0, 0);
    color: red;
}

.main a i {
    font-size: medium;
}

#all-list {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.card-box {
    width: 16em;
    height: 20em;
    display: grid;
    place-items: center;
    margin: .5em;
    border-radius: .5em;
    border: 0;
    background-color: rgba(239, 0, 0, 0.726);
}

.card-box a {
    text-decoration: none;
}

.card-box:hover {
    background-color: rgb(0, 0, 0);
    transition: .5s;
}

.card-box:hover h1 {
    color: aqua;
    transition: .5s;
}

.card-box:hover img {
    transform: scale(1.25);
    transition: .5s;
    opacity: 1;
}

.card-box .coverImg {
    width: 10em;
    height: 14em;
    opacity: .8;
    border: 0;
    border-radius: .5em;
}

.card-box h1 {
    color: rgb(255, 157, 157);
    font-size: 1em;
}